:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}

h1>b {
  color: var(--color-primary);
}

img {
  border-style: none;
  max-width: 100%;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}

ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}

b,
strong,
dt,
th {
  font-weight: bold;
}

li {
  margin-bottom: calc(var(--space-4) / 2);
}

ol li,
ul li {
  padding-left: 0;
}

li>ol,
li>ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li>p {
  margin-bottom: calc(var(--space-4) / 2);
}


code {
  font-size: 0.875rem;
}

kbd {
  font-size: 0.875rem;
}

samp {
  font-size: 0.875rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}

pre code {
  background: none;
}

code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

/* Offerings section css */
section.offerings {
  max-width: 100%;
  width: 90vw;
  margin: auto;
  padding: 50px 0px;
}

.offerings .d-flex {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.offerings .left,
.offerings .right {
  max-width: 100%;
}

.offerings .dec {
  max-width: 100%;
  width: 430px;
  margin: auto;
}

.offerings .dec p {
  font-size: 16px;
  /* font-weight: 700; */
}

.offerings .right .dec .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.right .img p {
  font-style: italic;
  font-size: 15px;
  font-weight: 600;
}

.right .img img {
  max-width: 100%;
  width: 450px;
  margin: auto;
  margin-bottom: 0px;
}

.right .img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.offerings .right .btn {
  /* margin-left: 80px; */
  display: flex;
  justify-content: center;
}

.btn button {
  padding: 11px 66px;
  border-radius: 28px;
  cursor: pointer;
  margin-top: 20px;
  background: none;
  border: 1px solid black
}

.btn button a {
  text-decoration: none;
  color: #000;
}

/* end */
.SolutionOfferingsDetails {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding-left: 75px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: auto;
  background: url(../images/Frame-2.png)no-repeat;
  background-size: 26%;
  background-position: 100% 0;
  position: relative;
  padding: 50px 76px 40px 0;
}

.SolutionOfferingsDetails img {
  max-width: 100%;
  width: 400px;
  height: 500px;

}

.wrapper .d-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.wrapper .d-flex p {
  background: url(../images/service-background1.png)no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20px;
  margin: 0;
  color: #fff;
  font-size: 16px;

}

.wrapper .d-flex h2 {
  color: #dc6543;
  font-size: 16px;
}

.wrapper ul li {
  margin-left: 20%;
  margin-bottom: 0px;
  font-size: 16px;
  /* font-weight: 600; */
}

.box {
  max-width: 100%;
  width: 335px;
}

.wrapper .dec {
  transform: translate(0px, 50%);
}

.wrapper .dec p {
  text-align: right;
  max-width: 207px;
  margin: auto;
  margin-top: 20px;
  font-size: 16px;
  /* font-weight: 600; */
}

/* end  */
#shadow-host-companion {
  padding: 0px;
}

.footer-social-link .fa-brands,
.fab {
  font-size: 28px;
}

.submit-btn button {
  cursor: pointer;
}

/* css for about us page */
.about_banner {
  background: url('../images/Epta\ About\ page\ banner.png')no-repeat;
  background-position: left;
  background-position: unset;
  min-height: 300px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.OurGuiding .wrapper {
  background: url(../images/Screenshot_8.png)no-repeat;
  background-size: 26%;
  background-position: 100% 0;
}

.about_banner_title {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: auto;
  color: #fff;
}

.about_banner_title img {
  width: 50px;
}

.networking {
  width: 90vw;
  margin-right: auto;
  max-width: 100%;
  padding: 50px 0 0 0;
  width: 90vw;
}

.left_img {
  background: url('../images/12.png')no-repeat;
  background-position: 152% 46px;
  background-size: 120%;
  min-height: 540px;
  width: 100%;
}

/* .right_con {
  width: 100%;
} */

.right_con p {
  max-width: 382px;
  margin: auto;
  font-size: 17px;
  /* font-weight: 500; */
}

.right_con p.second {
  margin-top: 30px;
  margin-bottom: 30px;
}

.right_con .img {
  width: 400px;
  margin: auto;
  text-align: center;
}

.networking .d-flex {
  /* align-items: center; */
  display: flex;
  justify-content: space-between;
  margin: auto;
}


section.business_continuity {
  background: #152e6f;
}

.business {
  width: 90vw;
  margin-left: auto;
}

.business_continuity .d-flex {
  display: flex;
  align-items: center;
}

/* .business_continuity .left_con {
  width: 50%;
} */

.right_img {
  background: url(../images/13.png)no-repeat;
  background-size: 150%;
  min-height: 590px;
  width: 100%;
  margin: auto;
  background-position: 32% 25%;
}

.business_continuity h2 {
  font-size: 37px;
  color: #fff;
  font-weight: 500;
  line-height: 1.1;
  width: 330px;
}

.business_continuity p {
  font-size: 17px;
  color: #fff;
  width: 319px;
  margin-top: 10px;
  line-height: 1.6;
}

/* Our Guiding Principles css */

.OurGuiding {
  background: #d2d2da;
  position: relative;
  /* padding: 50px 0 0 0; */
}

/* 
.OurGuiding img.ban {
  width: 100px;
  transform: rotate(201deg);
  position: absolute;
  right: -2px;
  top: 0;
} */
.OurGuiding_wrapper {
  width: 90vw;
  margin: auto;

}

.OurGuiding h2 {
  width: 220px;
  margin-left: 5%;
  font-size: 37px;
  font-weight: 500;
}

.OurGuiding_wrapper .d-flex {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  margin-right: 0;
  width: 80vw;
}

/* .left_box {
  transform: translateX(10%);
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
}

.right_box {
  transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  -moz-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  -o-transform: translateX(-10%);
} */

.left_box,
.right_box {
  position: relative;
}

.left_box img,
.right_box img {
  width: 500px;
}

.left_box .con {
  color: #fff;
  position: absolute;
  z-index: 0;
  top: 50px;
  left: 12%;
  width: 294px;
  margin: auto;
}

.left_box h5,
.right_box h5 {
  font-size: 25px;
}

.left_box p,
.right_box p {
  font-size: 18px;
}

.right_box .con {
  color: #fff;
  position: absolute;
  z-index: 0;
  top: 50px;
  right: 25%;
  /* bottom: 100%; */
  width: 321px;
  margin: auto;
}

img {
  margin: 0;
  padding: 0;
}

.OurGuiding .wrapper {
  background-size: 15%;
  padding: 70px 0;
}

.OurGuiding .wrapper .d-flex p {
  background: none;
  padding: 10px 0px;
}

.santos {
  background: #fff;
  width: 90vw;
  margin: auto;
  margin-right: 0;
}

.santos .wrapper {
  display: flex;
  background: none;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
  padding: 50px 0px;
}

.santos_right_con {
  width: 435px;
  margin: 0 auto;
}

/* .santos_left_img {
  width: 100%;
} */
.santos_left_img {
  width: 500px;
}

.santos_left_img img {
  width: 380px;
  height: 100%;
}

.santos_right_con h2 {
  font-size: 37px;
  max-width: 170px;
  margin-bottom: 25px;
  margin-top: 10px;
  line-height: 1.1;
  font-weight: 500;
}

.santos_right_con p {
  font-size: 16px;
  /* font-weight: 500; */
  margin: 30px 0;
}

.santos_right_con button {
  background: none;
  margin-top: 30px;
  width: 200px;
  padding: 15px;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.santos_right_con button a {
  text-decoration: none;
  color: #000;
}

.WeAre .form_con {
  margin-top: 30px;
}

.WeAre .contact-form p {
  width: 300px;
}

.WeAre .contact-background2 img {
  width: 400px;
}

.WeAre .contact-epta-layer-container h2 {
  font-size: 37px;
  max-width: 200px;
  font-weight: 500;
  ;
}

.WeAre .contact-background1 {
  position: absolute;
  top: 48.3%;
  right: 15.4%;
}

.WeAre .contact-form h2 {
  font-size: 28px;
  font-weight: 500;
}
.contact-epta-layer-container h2 {
  font-size: 37px;
  font-weight: 500;
  max-width: 200px;
}
.contact-form h2 {
  font-size: 28px;
  font-weight: 500;
}
.contact-background2 img {
  width: 400px;
}
