* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.banner-container {
    position: relative;
}

.banner-image img {
    width: 100%;
}

.banner-image img {
    width: 100%;
    display: block;
    margin: 0px;
}

.banner-des-folder {
    position: absolute;
    top: 17%;
    right: 8%;
    transform: translateY(-50%);
}

.banner-des-image {
    margin-bottom: 80px;
}

.banner-des-image img {
    width: 226px;
}

.banner-des-folder p {
    font-size: 19px;
    color: white;
    margin: 0px 0px 10px 0px;
    letter-spacing: 3.3px;
}

.banner-des-folder h2 {
    font-size: 55px;
    max-width: 610px;
    line-height: 72px;
    margin-bottom: 50px;
    color: white;
}

.banner-btn a {
    border: 1px solid;
    padding: 10px 63px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.solution-offering-wrapper {
    display: flex;
    max-width: 100%;
    width: 90vw;
    margin: 0px auto 0px auto;
    color: white;
    padding-top: 80px;
    position: relative;
    z-index: 1;
}

.solution-offering-left-section {
    width: 50%;
}

.solution-offering-left-section h2 {
    font-size: 45px;
}

.solution-offering-left-section p {
    max-width: 319px;
    font-size: 17px;
    margin-top: 78px;
}

.solution-offering-right-section {
    width: 50%;
    padding: 100px 0px 40px 0px;
}

.solution-offring-image img {
    width: 256px;
}

.solution-offering-section {
    background-color: #002d70;
    position: relative;
    overflow: hidden;
}

.solution-background-image1 {
    position: absolute;
    top: -20%;
    right: -4%;
}

.solution-background-image1 img {
    width: 581px;
}

.solution-background-image2 {
    position: absolute;
    bottom: 11%;
    right: 46%;
    z-index: 1;
}

.solution-background-image2 img {
    width: 54px;
}

.footer-section {
    background-color: #50505b;
    color: white;
}

.footer-wrapper {
    padding: 50px 0px 30px 0px;
    max-width: 1180px;
    margin: 0px auto;
}

.footer-image img {
    width: 184px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 70px 0px 50px 0px;
}

.footer-container h2 {
    margin: 0px;
    font-size: 60px;
}

.footer-folder1 {
    max-width: 188px;
}

.footer-folder1 h2 {
    font-size: 17px;
}

.footer-folder1 p {
    font-size: 17px;
    color: #cdcdce;
}

.footer-info {
    display: flex;
    font-size: 17px;
    gap: 6px;
}

.footer-info h2 {
    font-size: 17px;
}

.footer-info a {
    color: #cdcdce;
    text-decoration: none;
}

.footer-social-link {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: end;
    max-width: 1072px;
}

.footer-social-link a {
    font-size: 27px;
    color: white;
}

.our-unique-strenth-wrapper {
    display: flex;
    max-width: 100%;
    width: 90vw;
    margin: 0px auto 0px auto;
}

.our-unique-strenth-left-section {
    width: 30%;
}

.our-unique-strenth-left-section h2 {
    font-size: 60px;
    line-height: 67px;
}

.our-unique-strenth-right-section {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 550px;
}

.our-unique-strenth-container {
    display: flex;
    gap: 38px;
}

.our-unique-strenth-folder {
    max-width: 282px;
}

.our-unique-image img {
    width: 152px;
}

.our-unique-strenth-folder span {
    font-size: 15px;
    letter-spacing: 4px;
}

.our-unique-strenth-folder h2 {
    font-size: 34px;
    margin: 5px 0px 5px 0px;
}

.our-unique-strenth-folder p {
    font-size: 15px;
    line-height: 23px;
}

.our-unique-strenth-section {
    background-color: #d2d2da;
    padding: 100px 0px 50px 0px;
}

.our-unique-image {
    margin-bottom: 0px;
}

.contact-epta-layer-wrapper {
    max-width: 90vw;
    margin-right: 0px;
    margin-left: auto;
}

.contact-epta-layer-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 50px 0px;
}

.contact-epta-layer-container h2 {
    font-size: 52px;
    max-width: 290px;
}

.contact-form {
    max-width: 313px;
}

.contact-form h2,
form h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-form p {
    font-size: 16px;
    margin: 20px 0px 46px 0px;
}

.inner-input {
    display: flex;
    gap: 9px;
    margin-bottom: 12px;
}

.inner-input h2 {
    font-size: 16px;
}

.inner-input input {
    padding: 4px 5px;
}

.ipLabels {
    min-width: 46px
}

.contact-epta-layer-container-image {
    max-width: 384px;
    position: relative;
    transform: translateY(-100px);
    display: none;
}

.submit-btn {
    max-width: 240px;
    text-align: end;
}

.submit-btn button {
    padding: 10px 72px;
    border-radius: 40px;
    font-size: 13px;
    background: none;
    border: 1px solid black;
}

.inner-input textarea {
    padding: 4px 5px;
    resize: none;
}

.contact-epta-layer-section {
    background-color: #f8f8f6;
    position: relative;
}

.contact-background1 {
    position: absolute;
    top: 56%;
    right: 15.4%;
}

.contact-background1 img {
    width: 82px;
}

.contact-background2 {
    position: absolute;
    bottom: -1%;
    left: 0%;

}

.contact-background2 img {
    width: 485px;
}

.banner-mobile-image {
    display: none;
}

.contact-epta-layer-container-image {
    display: block;
}

.contact-epta-layer h2 {
    font-size: 54px;
    font-weight: 600;
    line-height: 1;
}

@media only screen and (max-width: 1024px) {
    .banner-des-image img {
        width: 211px;
    }

    .banner-des-image {
        margin-bottom: 35px;
    }

    .banner-des-folder p {
        font-size: 18px;
        margin: 0px 0px 10px 0px;
        letter-spacing: 1.5px;
    }

    .banner-des-folder h2 {
        font-size: 46px;
        max-width: 536px;
        line-height: 57px;
        margin-bottom: 38px;
    }

    .banner-btn a {
        padding: 12px 48px;
        font-size: 20px;
    }

    .banner-des-folder {
        position: absolute;
        top: 19%;
        right: 0%;
        left: 42.3%;
    }

    section.offerings {
        max-width: 100%;
        width: 867px;
        margin: auto;
        padding: 50px 0px;
    }

    .offerings .right .btn {
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }

    .solution-background-image1 {
        position: absolute;
        top: -20%;
        right: -16%;
    }

    .solution-offering-wrapper {
        display: flex;
        max-width: 867px;
        padding-top: 80px;
    }

    .SolutionOfferingsDetails {
        padding-left: 20px;
    }

    .wrapper {
        background: url(/static/Frame-2-99878af….png)no-repeat;
        background-size: 21%;
        background-position: 100% 0;
        padding: 50px 20px 40px 0;
    }

    .SolutionOfferingsDetails img {
        width: 351px;
        height: 500px;
    }

    .dec h2 {
        text-align: end;
        font-size: 21px;
    }

    .wrapper .dec p {
        text-align: right;
        max-width: 207px;
        font-size: 15px;
    }

    .btn button {
        padding: 13px 51px;
        border-radius: 28px;
        margin-top: 20px;
    }

    .btn {
        display: flex;
        justify-content: flex-end;
    }

    .our-unique-strenth-container {
        display: flex;
        gap: 20px;
    }

    .our-unique-strenth-left-section h2 {
        font-size: 48px;
        line-height: 62px;
    }

    .our-unique-strenth-wrapper {
        max-width: 867px;
    }

    .contact-epta-layer-container-image img {
        width: 256px;
    }

    .contact-epta-layer-container {
        padding: 100px 0px 50px 19px;
    }

    .contact-background1 {
        position: absolute;
        top: 36%;
        right: 13.4%;
    }

    .contact-background1 img {
        width: 72px;
    }

    .contact-background2 img {
        width: 368px;
    }

    .footer-wrapper {
        padding: 50px 0px 30px 0px;
        max-width: 943px;
    }
}

@media only screen and (max-width: 820px) {
    .banner-des-folder h2 {
        font-size: 34px;
        max-width: 454px;
        line-height: 40px;
    }

    .banner-des-image img {
        width: 198px;
    }

    .banner-des-folder p {
        font-size: 13px;
        letter-spacing: 1.3px;
    }

    .banner-btn a {
        padding: 10px 34px;
        font-size: 18px;
    }

    section.offerings,
    .solution-offering-wrapper,
    .our-unique-strenth-wrapper,
    .footer-wrapper {
        width: 786px;
    }

    .solution-offering-left-section h2 {
        font-size: 38px;
    }

    .solution-offering-left-section p {
        font-size: 17px;
        margin-top: 61px;
    }

    .solution-offring-image img {
        width: 229px;
    }

    .solution-background-image1 img {
        width: 518px;
    }

    .banner-des-folder {
        position: absolute;
        top: 17%;
        right: 0%;
        left: 46.3%;
    }

    .btn button {
        padding: 13px 43px;
    }

    .wrapper .d-flex p {
        padding: 17px;
    }

    .SolutionOfferingsDetails img {
        width: 351px;
        height: 436px;
    }

    .dec h2 {
        font-size: 18px;
    }

    .wrapper ul li {
        font-size: 15px;
    }

    .wrapper .dec p {
        font-size: 13px;
    }

    .our-unique-strenth-left-section h2 {
        font-size: 42px;
    }

    .our-unique-image img {
        width: 130px;
    }

    .our-unique-strenth-folder h2 {
        font-size: 32px;
    }

    .our-unique-strenth-folder p {
        font-size: 16px;
    }

    .our-unique-strenth-folder {
        max-width: 272px;
    }

    .contact-epta-layer-container {
        gap: 10px;
    }

    .contact-epta-layer-container h2 {
        font-size: 46px;
        max-width: 258px;
    }

    .contact-form {
        max-width: 293px;
    }

    .inner-input textarea {
        padding: 4px 10px;
    }

    .contact-background2 img {
        width: 334px;
    }

    .contact-background1 img {
        width: 57px;
    }

    .contact-background1 {
        position: absolute;
        top: 33%;
        right: 16.4%;
    }

    .contactUs-title {
        font-size: 49px !important;
    }

    .contact-form h2,
    form h2 {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 768px) {
    .banner-des-folder {
        position: absolute;
        top: 13%;
        left: 43%;
        right: 0%;
    }

    .banner-des-image img {
        width: 193px;
    }

    .banner-des-image {
        margin-bottom: 28px;
    }

    .banner-des-folder p {
        font-size: 14px;
        letter-spacing: 1.8px;
    }

    .banner-des-folder h2 {
        font-size: 38px;
        max-width: 507px;
        line-height: 46px;
        margin-bottom: 31px;
    }

    section.offerings {
        max-width: 100%;
        width: 740px;
    }

    .offerings .left .img {
        width: 93%;
    }

    .offerings .dec p {
        font-size: 15px;
    }

    .right .img img {
        width: 374px;
    }

    .solution-offering-wrapper {
        max-width: 740px;
    }

    .solution-offering-left-section h2 {
        font-size: 43px;
    }

    .solution-offering-left-section p {
        max-width: 319px;
        font-size: 17px;
        margin-top: 52px;
    }

    .solution-offring-image img {
        width: 236px;
    }

    .solution-background-image1 img {
        width: 440px;
    }

    .solution-background-image1 {
        position: absolute;
        top: -14%;
        right: -8%;
    }

    .solution-background-image2 {
        position: absolute;
        bottom: 11%;
        right: 44%;
        z-index: 1;
    }

    .wrapper {
        background: url(/static/Frame-2-99878af….png)no-repeat;
        background-size: 21%;
        background-position: 100% 0;
        gap: 6px;
        padding: 50px 12px 40px 0;
    }

    .SolutionOfferingsDetails .wrapper .image img {
        width: 337px;
        height: 446px;
    }

    .wrapper .d-flex p {
        padding: 16px;
        font-size: 15px;
    }

    .wrapper .d-flex h2 {
        font-size: 15px;
    }

    .wrapper ul li {
        margin-left: 24%;
        font-size: 15px;
    }

    .dec h2 {
        text-align: end;
        font-size: 17px;
    }

    .wrapper .dec p {
        max-width: 207px;
        margin: auto;
        margin-top: 20px;
        font-size: 13px;
    }

    .btn {
        display: flex;
        justify-content: flex-end;
    }

    .btn button {
        padding: 9px 38px;
        margin-top: 20px;
    }

    .SolutionOfferingsDetails {
        padding-left: 12PX;
    }

    .our-unique-strenth-left-section h2 {
        font-size: 41px;
        line-height: 57px;
    }

    .our-unique-strenth-container {
        display: flex;
        gap: 12px;
    }

    .our-unique-image img {
        width: 134px;
    }

    .our-unique-strenth-folder span {
        font-size: 13px;
        letter-spacing: 4px;
    }

    .our-unique-strenth-folder h2 {
        font-size: 31px;
        margin: 5px 0px 5px 0px;
    }

    .our-unique-strenth-folder p {
        font-size: 16px;
        line-height: 27px;
    }

    .our-unique-strenth-wrapper {
        max-width: 740PX;
    }

    .contact-epta-layer-container {
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 50px 17px;
    }

    .contact-epta-layer-container h2 {
        font-size: 36px;
        max-width: 232px;
    }

    .contact-form {
        max-width: 276px;
    }

    .contact-epta-layer-container-image img {
        width: 295px;
    }

    .inner-input input {
        padding: 3px 3px;
    }

    .inner-input textarea {
        padding: 4px 8px;
    }

    .contact-background1 {
        position: absolute;
        top: 33%;
        right: 16.4%;
    }

    .contact-background1 img {
        width: 66px;
    }

    .contact-background2 img {
        width: 300px;
    }

    .contact-background2 {
        position: absolute;
        bottom: -4.9%;
        left: -4%;
    }

    .footer-social-link a {
        font-size: 25px;
        color: white;
    }

    .footer-wrapper {
        padding: 50px 0px 30px 0px;
        max-width: 740px;
    }

    .footer-social-link a {
        font-size: 25px;
    }

    .contactUs-title {
        font-size: 48px !important;
    }

    .offerings .right .btn {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .banner-des-folder {
        position: absolute;
        top: 23%;
        right: 0%;
        left: 9%;
        transform: translateY(-50%);
    }

    .banner-des-image img {
        width: 178px;
        margin-bottom: 36px;
    }

    .banner-des-folder p {
        font-size: 11px;
        margin: 0px 0px 4px 0px;
        letter-spacing: 1px;
    }

    .banner-des-folder h2 {
        font-size: 28px;
        max-width: 328px;
        line-height: 31px;
        margin-bottom: 29px;
    }

    .banner-image {
        display: none;
    }

    .banner-mobile-image {
        display: block;
    }

    .banner-des-image {
        margin-bottom: 8px;
    }

    .banner-btn a {
        padding: 10px 31px;
        font-size: 14px;
    }

    .d-flex {
        display: flex;
        flex-direction: column;
    }

    .offerings .left {
        width: 100%;
    }

    .offerings .right {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .offerings .dec p {
        font-size: 14px;
    }

    .offerings .right .btn {
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }

    section.offerings {
        width: 337px;
        margin: auto;
        padding: 30px 0px 30px 0px;
    }

    .solution-background-image1 {
        position: absolute;
        top: -7%;
        right: -69%;
        left: 39%;
    }

    .solution-offering-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 337px;
    }

    .solution-offering-left-section {
        width: 100%;
    }

    .solution-offering-left-section h2 {
        font-size: 46px;
    }

    .solution-offering-left-section p {
        font-size: 17px;
        margin-top: 33px;
    }

    .solution-offering-right-section {
        width: 100%;
        padding: 70px 0px 40px 0px;
    }

    .solution-offring-image {
        display: flex;
        justify-content: center;
    }

    .solution-background-image2 {
        position: absolute;
        bottom: 9%;
        right: 72%;
        z-index: 1;
    }

    .banner-mobile-image img {
        width: 100%;
        /* filter: brightness(0.9); */
    }

    .our-unique-strenth-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 337px;
        gap: 40px;
    }

    .our-unique-strenth-left-section {
        width: 100%;
    }

    .our-unique-strenth-right-section {
        width: 100%;
        display: flex;
        align-items: flex-start;
        height: auto;
    }

    .our-unique-strenth-left-section h2 {
        font-size: 41px;
        line-height: 44px;
    }

    .our-unique-strenth-folder {
        max-width: 319px;
    }

    .our-unique-image img {
        width: 134px;
    }

    .our-unique-image {
        margin-bottom: 0px;
    }

    .our-unique-strenth-folder span {
        font-size: 13px;
    }

    .our-unique-strenth-folder h2 {
        font-size: 26px;
    }

    .our-unique-strenth-folder p {
        font-size: 15px;
        line-height: 23px;
    }

    .our-unique-strenth-container {
        display: flex;
        flex-direction: column;
    }

    .contact-epta-layer-section {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .contact-epta-layer-wrapper {
        max-width: 321px;
        margin-right: 0px;
        margin-left: 0px;
        margin: 0px auto;
        position: relative;
        z-index: 3;
    }

    .contact-epta-layer-container {
        display: flex;
        flex-direction: column;
        gap: 47px;
        padding: 66px 0px 50px 0px;
    }

    .contact-epta-layer-container-image {
        max-width: 100%;
        transform: translateY(0px);
        display: none;
    }

    .inner-input textarea {
        padding: 4px 9px;
        border: 1px solid #b3b3b3;
    }

    .inner-input input {
        padding: 4px 5px;
        border: 1px solid #b3b3b3;
    }

    .contact-background1 img {
        width: 62px;
    }

    .contact-background1 {
        position: absolute;
        top: 57%;
        right: 3.4%;
    }

    .contact-background2 {
        position: absolute;
        top: -7%;
        right: -13%;
        bottom: auto;
        transform: rotate(179.6deg);
    }

    .contact-background1 img {
        width: 62px;
    }

    .contact-background2 img {
        width: 280px;
    }

    .footer-image img {
        width: 172px;
    }

    .contactUs-title {
        font-size: 43px !important;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        margin: 14px 0px 50px 0px;
    }

    .footer-wrapper {
        padding: 50px 1px 30px 0px;
        max-width: 330px;
    }

    .footer-folder1 {
        max-width: 188px;
        margin-top: 15px;
    }

    .footer-social-link a {
        font-size: 22px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        background: url(/static/Frame-2-99878af….png)no-repeat;
        background-size: 44%;
        background-position: 100% 0;
        position: relative;
        padding: 40px 0px 40px 0;
        gap: 12px;
    }

    .box,
    .image {
        padding: 0px 18px;
    }

    .wrapper .dec {
        padding: 0px 18px;
        transform: translate(0px, 0px);
    }

    .SolutionOfferingsDetails {
        padding-left: 0px;
    }

    .wrapper .d-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .wrapper ul li {
        margin-left: 15%;
    }

    .dec h2 {
        text-align: start;
    }

    .wrapper .dec p {
        text-align: start;
        max-width: 369px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: 0px;
        font-size: 15px;
    }

    .SolutionOfferingsDetails .btn {
        display: flex;
        justify-content: start;
    }

    .submit-btn button {
        border: 1px solid #b3b3b3;
        color: #858585;
    }

    .offerings .left .img {
        width: 100%;
    }

    .SolutionOfferingsDetails .image {
        display: flex;
        justify-content: center;
    }

    .SolutionOfferingsDetails .wrapper .image img {
        width: 100%;
    }

    .offerings .left .img img {
        display: none;
    }

    .our-unique-strenth-section {
        padding: 10px 0px 10px 0px;
    }

    .banner-wrapper {
        background: url(../images/homepage\ mobile\ banner\ \(1\).png)no-repeat;
        background-size: cover;
        background-position: right;
        height: 400px;
    }

    .banner-mobile-image {
        display: none;
    }

    .banner-des-folder.aos-init.aos-animate {
        margin: 50px 0px;
    }


    /* about us page */
    .left_img {
        background-size: cover;
        background-position: center;
        min-height: 360px;
    }

    .business_continuity .d-flex {
        display: block;
    }

    .right_img {
        background-size: cover;
        min-height: 220px;
        background-position: 70px;
    }

    .business_continuity .left_con {
        margin-top: 20px;
        width: auto;
    }

    .santos_right_con {
        width: 100%;
    }

    .right_con {
        margin-left: 25px;
    }

    .right_con .img {
        width: 100%;
    }

    .OurGuiding_wrapper .d-flex {
        flex-direction: column;
    }

    .left_box h5,
    .right_box h5 {
        font-size: 20px;
    }

    .OurGuiding_wrapper .d-flex p {
        padding: 2px;
        font-size: 13px;
    }


    .left_box .con {
        top: 13%;
        left: 17%;
        width: 235px;
    }

    .right_box .con {
        top: 13%;
        right: 18%;
        width: 257px;
    }

    .left_box,
    .right_box {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        width: 400px;
    }

    .santos_left_img img,
    .santos_left_img {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {

    .left_box,
    .right_box {
        width: 100%;
    }

    .right_box .con {
        top: 13%;
        right: 12%;
        width: 240px;
    }

    .OurGuiding_wrapper .d-flex p {
        line-height: 1.1;
    }

    .right_img {
        background-position: 12px;
    }

    .left_img {
        min-height: 300px;
    }
}

/* .offerings .left .img img {
    display: block;
} */