*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.banner-container{
    position: relative;
}
.banner-image img{
    width: 100%;
}
.banner-image img {
    width: 100%;
    filter: b;
    filter: brightness(0.5);
    display: block;
    margin: 0px;
}
.banner-des-folder {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
}
.banner-des-image{
    margin-bottom: 80px;
}
.banner-des-image img{
    width: 226px;
}
.banner-des-folder p {
    font-size: 19px;
    color: white;
    margin: 0px 0px 10px 0px;
    letter-spacing: 3.3px;
}
.banner-des-folder h2{
    font-size: 55px;
    max-width: 610px;
    line-height: 72px;
    margin-bottom: 50px;
    color: white;
}
.banner-btn a{
    border: 1px solid;
    padding: 10px 63px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}